*{
 
  margin: auto; padding: 0;
  background: #F5F8F9;
}
body{
  text-align: center;
}
h1{
  margin-top: 20px;
  margin-bottom: 20px;
}

#channel-search{

  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #000000;
 background: linear-gradient(to bottom, red, blue);
  width: 40%; height: 25px;
  text-align: center;
}
ul{
  margin-right: 0;
  max-width: 45%;
    display: flex;
  flex-wrap: wrap;
}

#channel-list > li{
    display: flex;
  flex-wrap: wrap;
  background-color: #ccc;
  list-style: none;
  padding: 0;
  margin: 10px auto;
  background-color: #4C6B6F;
  border-radius: 15px;
}
#channel-list > li:hover{
  background-color: #55FF9F;
}

#channel-list li > a{
   width: 200px;
  height: 200px;
  margin: 10px;
  background-color: #ccc;
  font-size: 25px;
  color: #000000;
  text-decoration: none;
}

#video_container{
  background-color: red;
  max-width: 45%;
  margin-right: 10px;
}
#player{
   position: fixed;
  top: 25%; /* Ajusta la posición vertical según tus necesidades */
  left: 9%; /* Ajusta la posición horizontal según tus necesidades */
}

footer{
  margin-top: 100px;
  max-width: 100 %;
  min-height: 100px;
  max-height: 200px;
  background-color: #CE81C9;
}
